*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(36, 41, 46);
    color: white;
    font-family: 'VT323' , monospace;
    font-size: 25px;
    padding-left: 20px; 
    padding-right: 20px;  
    padding-top: 20px;         
}
#name {
    font-family: 'VT323' , monospace;

}
a {
    color: white;
}
#description {
    font-family: 'Cookie', cursive;
    font-size: 25px;
    
    
}
#mypicture {
    border-radius: 10%;
    width: 200px;
    border-width: 5px;
    border-style:solid;
    border-color: rgba(87, 14, 14, 0.788);
    
}

.div-master {
    border-radius: 20px;
    border-width: 5px;
    border-style: double;
    border-color: rgb(58, 8, 8);
    

}
.picture-info {
    display: inline-block;
    margin-left: 10px;
     
    
}
.skills {
    
    padding-top: 10px;
    padding-left: 60px;
    display: inline-block;
    width: 35%;
}
.tech {
    position: absolute;
    object-position: top;
    padding-left: 50px;
    padding-top: 10px;   
    display: inline-block;
    width: 30%;
}
